* {
  margin: 0;
  padding: 0;
  font-family:"Roboto", sans-serif;
}

/* Estilo Tooltip */

.tooltip-inner {
  background-color: rgba(var(--bs-info-rgb));
}

.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: rgba(var(--bs-info-rgb));
}

.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: rgba(var(--bs-info-rgb));
}

.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: rgba(var(--bs-info-rgb));
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: rgba(var(--bs-info-rgb));
}


/* Nav */

.logo img{
  width: 5%;
  height: auto;
}

.bg-color{
  background-color: #000;
    transition: all .35s ease-in-out;
}



/* Footer */
.brands{
  text-align: center;
}

.brands a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  
}

.foot {
  text-align: center;
}